@font-face {
    font-family: 'opt_txt';
    src: url('../fonts/optimistic_text.eot');
    src: url('../fonts/optimistic_text.eot?#iefix') format('embedded-opentype'), url('../fonts/optimistic_text.woff2') format('woff2'), url('../fonts/optimistic_text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'opt_display';
    src: url('../fonts/optimistic_display.eot');
    src: url('../fonts/optimistic_display.eot?#iefix') format('embedded-opentype'), url('../fonts/optimistic_display.woff2') format('woff2'), url('../fonts/optimistic_display.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'opt_txt_light';
    src: url('../fonts/optimistic_text_light.eot');
    src: url('../fonts/optimistic_text_light.eot?#iefix') format('embedded-opentype'), url('../fonts/optimistic_text_light.woff2') format('woff2'), url('../fonts/optimistic_text_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'opt_xtra_light';
    src: url('../fonts/optimistic_xtra_light.eot');
    src: url('../fonts/optimistic_xtra_light.eot?#iefix') format('embedded-opentype'), url('../fonts/optimistic_xtra_light.woff2') format('woff2'), url('../fonts/optimistic_xtra_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*******/

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

body {
    /*font-family: 'opt_txt', Arial, Helvetica, sans-serif;*/
    font-family: 'opt_xtra_light';
    font-size: 16px;
    color: #000000;
    line-height: 1.7em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

html,
body {
    position: relative;
    min-height: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #00b6fe;
}

button,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    /*font-family: 'opt_display', sans-serif;*/
    font-family: 'opt_xtra_light';
}

input,
button,
select,
textarea {}

textarea {
    overflow: hidden;
}

p {
    position: relative;
    line-height: 1.8em;
}

ul {
    padding-left: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
}


/** Header Style **/

.header-logo img {
    max-height: 18px;
    width: auto
}

.txtBlack {
    color: black;
}

.header-section {
    padding: 40px 20px 38px;
}

.australia-block,
.eco-emp,
.blogDiv,
.thai-tourism {
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    padding: 175px 125px;
    /*padding: 100px 135px 200px;*/
    position: relative;
}

.australia-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #692d00;
    opacity: .7;
}

.eco-emp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #af5000;
    opacity: .25;
}

.blogDiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a78be;
    opacity: .25;
}

.thai-tourism::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003f2e;
    opacity: .5;
}

.thai-tourism h1,
.thai-tourism h4 {
    color: #fff;
    margin-bottom: 25px;
    font-family: 'opt_xtra_light';
    width: 50%;
}

.eco-emp h1,
.eco-emp h4,
.blogDiv h1,
.blogDiv h4 {
    margin-bottom: 25px;
    width: 50%;
}

.australia-block h2,
.eco-emp h2 {
    color: #fff;
    font-weight: 100;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 35px;
    font-family: 'opt_xtra_light';
}

.australia-block h4 {
    color: #fff;
    font-weight: 100;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 35px;
    font-family: 'opt_xtra_light';
}

.australia-block p a,
.eco-emp p a,
.thai-tourism p a,
.blogDiv p a {
    color: #fff;
    font-weight: 100;
    font-family: 'opt_xtra_light';
    font-size: 16px;
}

.site-nav ul {
    float: right;
}

.site-nav ul li {
    display: inline-block;
}

.site-nav a {
    text-decoration: none;
    float: right;
    font-family: 'opt_xtra_light';
    font-size: 16px;
    margin: 0 15px;
    color: #5d687c;
}


/** Four Boxes Style **/

.four-boxes-section {
    position: relative;
}

.boxes-block {
    padding: 0;
    position: inherit;
}

.boxes-main-content {
    padding: 10%;
    position: inherit;
    height: 100%;
    min-height: 750px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.boxes-block .boxes-txt {
    z-index: 1;
    position: relative;
    backface-visibility: hidden;
    transition: color 150ms ease-out;
}

.boxes-block .boxes-txt h2 {
    font-size: 28px;
    color: #fff;
    font-family: 'opt_xtra_light';
    font-weight: 100;
}

.boxes-block .boxes-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    position: absolute;
}

.boxes-block .boxes-img::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background: rgba(16, 94, 140, .87);*/
    will-change: transform;
    backface-visibility: hidden;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0) scale(1.3, 1.3);
    transition: all .8s ease-out;
}

.bgGreen {
    background: #006b4e;
}

.boxGreen,
.borderGreen {
    border-bottom: 10px solid #006b4e;
}

.boxGreen::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 107, 78, .75);
    will-change: transform;
    backface-visibility: hidden;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0) scale(1.3, 1.3);
    transition: all .8s ease-out;
}


/**Box Green**/

.bgYellow {
    background: #e69600;
}

.boxYellow,
.borderYellow {
    border-bottom: 10px solid #e69600;
}

.boxYellow::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(230, 150, 0, .75);
    will-change: transform;
    backface-visibility: hidden;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0) scale(1.3, 1.3);
    transition: all .8s ease-out;
}


/**Box Yellow**/

.bgBlue {
    background: #0061a0;
}

.boxBlue,
.borderBlue {
    border-bottom: 10px solid #0061a0;
}

.boxBlue::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 97, 160, .75);
    will-change: transform;
    backface-visibility: hidden;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0) scale(1.3, 1.3);
    transition: all .8s ease-out;
}


/**Box Blue**/

.bgRed {
    background: #c83714;
}

.boxRed,
.borderRed {
    border-bottom: 10px solid #c83714;
}

.boxRed::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(200, 55, 20, .75);
    will-change: transform;
    backface-visibility: hidden;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0) scale(1.3, 1.3);
    transition: all .8s ease-out;
}


/**Box Red**/

.boxes-block .boxes-img img {
    width: 100%;
    height: 100%;
}

.boxes-block:hover .boxes-img::before {
    transform: translate(0%, 130%) matrix(1, 0, 0, 1, 0, 0) scale(1, 1);
}

.fullwidth-boxes {
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    will-change: transform;
    backface-visibility: hidden;
    transition: all .8s ease-out;
    transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
    min-height: 750px;
}

.boxes-effect {
    opacity: 1;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
}

.fullwidth-boxes .fullboxes-content {
    padding: 200px 2% 200px 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullimage::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background: #005a42;*/
    opacity: .3;
}

.fullimage img {
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    align-items: flex-start;
}

.leftside-eco {
    position: relative;
    z-index: 1;
}


/*.leftside-eco::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 45%;
    height: 10px;
    background: #b3cdb6;
}*/

.leftside-eco h2 {
    font-size: 46px;
    color: #b3cdb6;
    line-height: 50px;
    font-family: 'opt_xtra_light';
    margin-bottom: 50px;
}

.leftside-eco p {
    font-size: 24px;
    color: #b3cdb6;
    line-height: 36px;
    font-family: 'opt_xtra_light';
    margin-bottom: 50px;
    color: #fff !important;
}

.middleside-eco {
    position: relative;
    z-index: 1;
    max-width: 36%;
    margin-left: 15%;
}

.middleside-eco ul {
    padding-left: 40px;
    padding-right: 40px;
}

.middleside-eco li {
    color: #b3cdb6;
    font-size: 24px;
    list-style: disc;
    line-height: 1.5;
    margin-bottom: 40px;
    font-family: 'opt_xtra_light';
}

.rightside-eco {
    z-index: 1;
    margin-right: 20px;
    margin-bottom: 180px;
    text-align: center;
    cursor: pointer;
}

.rightside-eco .arrow {
    font-size: 40px;
    color: #b3cdb6;
}

.rightside-eco a {
    font-size: 20px;
    color: #b3cdb6;
}

.ch-color1 .fullimage::before {
    background: #007e59;
}


/*Full Image Green*/

.ch-color1 .leftside-eco::after {
    background: #ffcdb9;
}

.ch-color1 .leftside-eco h2,
.ch-color1 .middleside-eco li,
.ch-color1 .rightside-eco .arrow,
.ch-color1 .rightside-eco a {
    color: #fff;
}

.ch-color2 .fullimage::before {
    background: #e69600;
}

.ch-color2 .leftside-eco::after {
    background: #e69600;
}

.ch-color2 .leftside-eco h2,
.ch-color2 .middleside-eco li,
.ch-color2 .rightside-eco .arrow,
.ch-color2 .rightside-eco a {
    color: #fff;
}

.ch-color3 .fullimage::before {
    background: #0073aa;
}

.ch-color3 .leftside-eco::after {
    background: #0073aa;
}

.ch-color3 .leftside-eco h2,
.ch-color3 .middleside-eco li,
.ch-color3 .rightside-eco .arrow,
.ch-color3 .rightside-eco a {
    color: #fff;
}

.ch-color4 .fullimage::before {
    background: #7f0700;
}

.ch-color4 .leftside-eco::after {
    background: #7f0700;
}

.ch-color4 .leftside-eco h2,
.ch-color4 .middleside-eco li,
.ch-color4 .rightside-eco .arrow,
.ch-color4 .rightside-eco a {
    color: #fff;
}


/** Advocacy Style **/

.page-title {
    margin-bottom: 35px;
}

.page-title h2 {
    font-family: 'opt_xtra_light';
    color: #1c2b33;
    font-size: 55px;
    font-weight: 300;
}

.advocacy-section {
    padding-bottom: 0px;
    padding-top: 35px;
}

.testimonial-block {
    background: #fad0ca;
    border-radius: 0;
    padding: 0;
    position: relative;
    margin: 0px;
}

.quote-1 {
    position: absolute;
    top: -40px;
    left: -40px;
}

.quote-2 {
    position: absolute;
    right: -40px;
    bottom: -40px;
}

.quote-1 img,
.quote-2 img {
    max-width: 120px;
}

.adocacy-block p {
    font-size: 21px;
    line-height: normal;
    margin-bottom: 0;
    color: #00426f;
}

.adocacy-block .testi-foter {
    margin-top: 35px;
}

.adocacy-block .testi-foter p {
    text-transform: uppercase;
}

.testimonial-carousel .owl-nav {
    text-align: center;
    position: absolute;
    /*bottom: -80px;
    left: -40px;*/
    top: 50%;
    width: 100%;
}

.testimonial-carousel .owl-nav .owl-next {
    display: inline-block;
    font-size: 32px;
    /*margin: 0 7px;
    border: 2px solid #00426f;
    border-radius: 100%;
    width: 35px;
    height: 35px;*/
    margin-right: 2%;
    line-height: 32px;
    float: right;
    text-align: center;
    color: #dc373c;
}

.testimonial-carousel .owl-nav .owl-prev {
    display: inline-block;
    font-size: 32px;
    /*margin: 0 7px;
    border: 2px solid #00426f;
    border-radius: 100%;
    width: 35px;
    height: 35px;*/
    margin-left: 2%;
    float: left;
    line-height: 32px;
    text-align: center;
    color: #dc373c;
}


/** Looking Ahed Style **/

.looking-section {
    background: #0b384a;
    position: relative;
    padding: 150px 0;
    overflow: hidden;
}

#snowfall {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}

.looking-ahed-block {}

.looking-ahed-block h2 {
    color: #fff;
    font-family: 'opt_xtra_light';
    font-size: 54px;
    line-height: 65px;
}

.looking-ahed-block p {
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 50px;
    font-family: 'opt_xtra_light';
    padding-right: 10px;
}

.looking-ahed-block a {
    color: #fff;
    font-size: 15px;
    transition: all ease-in .3s;
}

.looking-ahed-block a span,
.australia-block a span,
.eco-emp a span,
.blogDiv a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

.looking-ahed-block a:hover {
    text-decoration: underline;
}


/** Footer Style **/

.footer-section {
    background: #f1f2f7;
    padding: 50px 10% 50px;
}

.footer-logo {
    border-bottom: 2px solid #d5dbe1;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.privacy-copyright-block {}

.copy-txt {
    font-family: 'opt_display';
    color: #5d687c;
    font-size: 16px;
}

.privacy-txt {
    text-align: right;
}

.privacy-txt ul li {
    display: inline-block;
}

.privacy-txt a {
    font-family: 'opt_xtra_light';
    color: #677a8c;
    margin: 0px 15px 0px 0px;
    font-size: 14px;
}

.footerLinks {
    float: right;
}

.footerLinks ul li {
    display: inline-block;
}

.footerLinks ul li a {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    text-decoration: none;
    margin: 0px 15px 0px 0px;
    color: #5d687c;
}


/*******/

.testiBgOne {
    background-image: url('../images/slider-img-1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.testimonial-left,
.testimonial-right,
.videoBox,
.mediaBox,
.flipBox {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-left p {
    text-align: left;
    color: white;
    font-size: 3rem;
    font-family: 'opt_xtra_light';
    max-width: 50%;
}

.testimonial-right div {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.testimonial-right p {
    text-align: left;
    font-size: 16px;
    color: #73000f;
    width: 80%;
    display: block;
    font-family: 'opt_xtra_light';
    margin-bottom: 25px;
}

.testimonial-right a {
    text-decoration: none;
    color: #73000f;
    display: block;
    width: 80%;
    text-align: left;
}

.testimonial-right a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #73000f;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}


/***Economic Empower****/

.bgLightBlue {
    background: #c8e7fa;
}

.txtDarkBlue {
    color: #00426f;
}

.div70 {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.div80 {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.videoBox h1 {
    margin-bottom: 25px;
    line-height: 1.3;
}

.videoBox p {
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 25px;
}

.videoBox a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #00426f;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

.videoBox video {
    width: 100%;
    height: 600px;
    display: flex;
    background: transparent url('images/thai-economic-empowerment.jpg') no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
}

.videoBox video[poster] {
    background-size: cover;
    object-fit: cover;
}


/********/

.bgLightRed {
    background: #ffebeb;
}

.txtSectionFull {
    padding: 100px 0px 75px 0px;
}

.txtRed {
    color: #96000f;
}

.txtSectionFull h1,
.titleSectionFull h1 {
    margin-bottom: 35px;
}

.txtSectionFull p {
    margin-bottom: 25px;
}

.titleSectionFull {
    padding: 35px 0px 0px 0px;
}

.borderTopRed {
    width: 60%;
    height: 10px;
    background: #f5a5a0;
    margin-bottom: 25px;
}


/*******/

.bgLightPurple {
    background: #b9c3eb;
}

.txtPurple {
    color: #28002d;
}

.mediaImgBG {
    background-image: url('../images/eco-emp-side-img.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mediaBox h1 {
    margin-bottom: 25px;
    line-height: 1.3;
}

.mediaBox p {
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 25px;
}

.mediaBox a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #00426f;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

.mediaBox a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #00426f;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

.txtSectionFull a span{
	width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #003f2e;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

/*******/

.bgWhite {
    background: white;
}

.txtWhite {
    color: white;
}

.txtGreen {
    color: #003f2e;
}

.txtGreen2 {
    color: #1c2b33;
}

.font18 {
    font-size: 18px;
    line-height: 1.5;
}

.videoBoxFull {
    min-height: 750px;
    display: block;
    justify-content: center;
    align-items: center;
}

.videoBoxFull video {
    width: 100%;
    height: 750px;
    display: flex;
    /*background:transparent url('images/thai-economic-empowerment.jpg') no-repeat 0 0;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
}

.videoBoxFull video[poster] {
    background-size: cover;
    object-fit: cover;
}


/*******/

.txtBlueGrey {
    color: #1c2b33;
}


/*******/

.borderGreen {
    border-bottom: 10px solid #289664;
}

.thai-tourism-green {
    background: #289664;
}

.thai-tourism a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

.thai-tourism p {
    width: 50%;
    display: block;
    margin-bottom: 25px;
}


/*******/

.flip-card {
    perspective: 1000px;
    width: 100%;
    min-height: 600px;
}

.flipBoxLeft,
.flipBoxRight {
    padding: 0px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.flipBoxLeft .flip-card-front {
    background-image: url('../images/resources-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
}

.flipBoxRight .flip-card-front {
    background-image: url('../images/research-case-study-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
}

.flipBoxLeft .flip-card-front::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #008ac3;
    opacity: .5;
}

.flipBoxRight .flip-card-front::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003a71;
    opacity: .35;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    cursor: pointer;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flipBoxLeft .flip-card-back {
    background: #008ac3;
    opacity: 1;
    position: relative;
    width: 100%;
    min-height: 600px;
}

.flipBoxRight .flip-card-back {
    background: #003a71;
    opacity: 1;
    position: relative;
    width: 100%;
    min-height: 600px;
}

.txtLightBlue {
    color: #008ac3;
}

.txtDeepBlue {
    color: #003a71;
}

.flip-card-front p,
.flip-card-back p {
    margin-bottom: 25px;
}

.flip-card-front a span {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 16px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.flipBoxLeft .flip-card-back a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #003a71;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

.flipBoxRight .flip-card-back a span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #008ac3;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}


/*******/

.blogBg1 {
    background-image: url('../images/blog-1-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogBg2 {
    background-image: url('../images/blog-2-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgLightGreen {
    background: #c3e1c8;
}

.txtDarkGreen {
    color: #003f2e;
}

.bgLightOrnage {
    background: #fbd6b7;
}

.txtDarkOrange {
    color: #9b2819;
}


/*******/

.blogHeader {
    padding: 175px 100px 50px;
}

.blogDarkRedBG {
    background: #9b2819;
}

.blogTxtRed {
    color: #50000f;
}

.blogHeader h1,
.blogHeader h3 {
    margin-bottom: 25px;
}

.blogContainer {
    padding: 100px;
}

.blogContainer p {
    font-size: 18px;
    line-height: 2;
}

.blogContainer p {
    padding-bottom: 25px;
    margin: 0;
}

.blogContainer h1,
.blogContainer h2 {
    padding: 25px 0;
}

.blogContainer img {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 25px;
}

.blogNav {
    padding: 25px 0;
}

.txtDarkGrey {
    color: #344854;
}


/*******/

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar {
    min-height: auto;
    margin-bottom: 0px;
}

.navbar-toggle {
    padding: 8px 0px;
    margin: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none !important;
}

.navbar-nav>li>a {
    text-decoration: none;
    color: #5d687c;
}

.navbar-nav {
    padding: 25px 0 35px 0;
    margin: 0px -15px;
}


/*******/

.vertBanner {
    width: 100%;
    height: auto;
}

.accordion {
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    margin: 0px auto;
    align-items: center;
    vertical-align:middle;
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 16.666%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease-in-out;
}

.accordion ul li div {
    display: block;
    vertical-align:middle;
    align-items: center;
    overflow: hidden;
    width: 100%;
    color:white;
}

.accordion ul li div a {
    display: none;
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: middle;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    color: #fff;
    filter: invert(100%);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;    
    position: relative;
    z-index: 5;

    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.accordion ul li div a div{
	width:60%;
	float:left;
	display:block;
	color:white;
}

.accordion ul li div a h3 {
    margin-bottom:25px;
    color:white;
    /*font-size: 32px;
    text-transform: uppercase;*/ 
    
}

.accordion ul li div a p {
    margin-bottom:25px;	
    color:white;
    /*top: 160px;
    font-size: 18px;*/
    
}

/*.accordion ul li:nth-child(1) {
    background-image: url('../images/eco-opp-slider-2.jpg');
    background-position: center top;
}

.accordion ul li:nth-child(2) {
    background-image: url('../images/eco-opp-slider-2.jpg');
    background-position: center top;
}

.accordion ul li:nth-child(3) {
    background-image: url('../images/eco-opp-slider-2.jpg');
    background-position: center top;
}
*/

.accordion ul li {
    background-size: cover;
}

.accordion ul:hover li {
    width: 10%;
}

.accordion ul:hover li:hover {
    width: 90%;
}

#hoverTitle{
	text-align: center;
    width: 100%;
    display: block;
    color:white;
}

/*.vertBanner h2 {
    text-align: center;
    width: 100%;
    display: block;
}*/

/*.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }*/
.accordion ul:hover li:hover a {
   display:flex;
   width:100%;
   height:100%;
}

.accordion ul:hover li:hover div h2 {
	opacity:0;
}
.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (max-width: 680px) {
    
    .accordion {        
        min-height:350px;
    }
    .accordion ul:hover li:hover div h2 {
		opacity:1;
	}
	.accordion ul li .outerDiv{
		padding:25px;
	}
	.accordion ul li div a div{
		width:100%;
	}
	.accordion ul li div a{
		display:block;   
	}
    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
    .accordion ul li div a * {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}