

@keyframes pop {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.0);
  }
}

@mixin a-pop {
  animation: pop 500ms 1s linear forwards;
  transform-origin: 50% 50%;
}

@keyframes big-fade {
  0% {
    transform: scale(1.0);
    opacity: 1;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}

@mixin a-big-fade {
  animation: big-fade 650ms 1s linear forwards;
  transform-origin: 50% 50%;
}
