//define global element stylings here
html {
  height:100%;
  margin: 0 auto;
  // max-width: 1680px;
}


  svg:not(:root) {
      overflow: visible!IMPORTaNt;
    }

html, body {
  // min-height:100%;
  position: relative;
  font-size: 10px;
  //background-color: $c-white-1;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.page-wrapper {
  overflow-x: hidden;
  min-height: 500px;
  // max-width: $bp-full-width;
  margin: 0 auto;
  padding-top: $s-header;
  background-color: white;

  @media #{$mq-tablet-down} {
    padding-top: $s-mobile-header;
  }
}

.content-wrapper {
  // overflow-x: hidden;
  max-width: $bp-max-width;
  margin: 0 auto;

  &.c-white {
    background-color: white;
  }

  &.c-off-white {
    background-color: $c-off-white;
  }

  &.c-white-1 {
    background-color: $c-white-1;
  }
}

.header-not-sticky {
	.page-wrapper {
		padding-top: 0px;
	}
	.header-close-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		display: none;
		&.active {
			display: block;
			// background: RGBA(255,255,255,0.0);
			opacity: 0;
			z-index: $z-header-close-overlay;
		}
	}

  @media #{$mq-tablet-down} {
    .header-close-overlay {
      display: none;
    }
  }
}

.noscroll {
  overflow: hidden;
}

body, p, div {
  // @include ff-nh();
  @include ff-fsp();
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: $c-gray-1;
}



p, div, li, ul {
  // @include font-regular();
  font-size: $fs-p;
  line-height: $lh-p;

  @media #{$mq-tablet-down} {
    font-size: $fs-p-m;
    line-height: $lh-p-m;
  }
}

p {
  letter-spacing: 0.5px;
}

p.small {
  font-size: $fs-p-s;
  line-height: $lh-p-s;
}

ol, ul, li {
  //list-style-position: inside;
  //list-style: none;
 // padding: 0;
}

ol, ul {
  
  padding-bottom:25px;
}

.header-right a, .header-right  a:visited, .header-right  a:active, .header-right a, .header-right  a:visited, .header-right  a:active,  {

 display: inline-block;

  text-decoration: none;
  color: $c-gray-1;
  font-weight: 500; 

  transition: color 150ms $cubic-ease-out;
}

a, a:visited, a:active {
 
  text-decoration: none;
  color: $c-gray-1;
  font-weight: 500; 

  transition: color 150ms $cubic-ease-out;
}

 


a.btn:hover {
  background-color: #F0F0F0;
  text-decoration:none;

  &.footer-copy {
    color: $c-white-2;
  }

  &.section-link {
    color: $c-gray-2;
  }
}
.gray-block a.btn:hover, .bottom-gray-block a.btn:hover, {
  background-color: #C0C8CC ;

}


a:hover {
 text-decoration:underline;

}




h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  @include ff-fsp();
  font-weight: 400;
  font-family:'Optimistic Display Medium';
}

h1 {
  font-size: $fs-h1;
  line-height: $lh-h1;
  letter-spacing: -0.5px;

  @media #{$mq-tablet-down} {
    font-size: $fs-h1-m;
    line-height: $lh-h1-m;
  }
}

h2 {
  font-size: $fs-h2;
  line-height: $lh-h2;
  color: $c-gray-blue;
  font-weight: 300;

  @media #{$mq-tablet-down} {
    font-size: $fs-h2-m;
    line-height: $lh-h2-m;
  }
}

h3 {
  font-size: $fs-h3;
  line-height: $lh-h3;

  @media #{$mq-tablet-down} {
    font-size: $fs-h3-m;
    line-height: $lh-h3-m;
  }
}

h4 {
  font-size: $fs-h4;
  line-height: $lh-h4;

  @media #{$mq-tablet-down} {
    font-size: $fs-h4-m;
    line-height: $lh-h4-m;
    color: $c-gray-blue;
  }
}

h5 {
  font-size: $fs-h5;
  line-height: $lh-h5;
}

.logo-copy {
  // font-size: $fs-logo;
  letter-spacing: 0.8px;
  color: $c-gray-blue;

  @media #{$mq-tablet-down} {
    font-size: $fs-logo-m;
  }
}

.header-copy {
  font-size: $fs-p-s;
  @include ff-fsp();
  letter-spacing: 0.3px;

  @media #{$mq-tablet-down} {
    font-size: $fs-logo-m;
  }

  &.active {
    font-weight: 500;
  }
}

.carousel-header {
  @include ff-fsp();
  font-size: $fs-h4;
  font-weight: 400;
  color: white;
}

.map-copy {

  color: white;

  &.small {
    font-size: $fs-p-s;
  }

  &.section {
    font-weight: 500;
  }

  &:visited {
    color: white;
  }
}

.data-point {
  line-height: $lh-data;
  font-size: $fs-data;
  letter-spacing: -2px;
  color: $c-light-blue;
  font-weight: 100;
}

.case-study-header {
  font-size: $fs-cs;
  line-height: $lh-cs;
  font-weight: 500;
  color: $c-gray-blue;
}

.footer-copy, span {
  //font-size: $fs-s;
}

.footer-copy {
  @include ff-fsp();

  a {@include ff-fsp();}
}




.button,
.button-link,
// submit button generated by the contact form
.pushbutton-wide {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  // width: 13.9rem;
  height: 4.4rem;
  padding: 0 3.5rem;
  border-radius: 2px;
  background-color: transparent;
  border: solid 1px $c-light-blue;
  cursor: pointer;

  @include ff-fsp();
  font-size: 1.2rem;
  font-weight: 500;
  color: $c-light-blue;
  text-align: center;
  letter-spacing: 0.5px;

  transition: all 500ms $cubic-ease-out;

  &:hover {
    background-color: $c-light-blue;
    color: white;
  }

  &.invert {
    border: solid 1px white;
    color: white;

    &:hover {
      background-color: white;
      color: $c-light-blue;
    }
  }
  &.drop-in {
    position:relative;
    margin-bottom:2.5rem;
    /*margin-top:2.5rem;*/
  }
}

.button-copy {
  @include ff-fsp();
  font-size: 1.2rem;
  font-weight: 500;
  color: $c-light-blue;
  text-align: center;

  &:hover {
    color: white;
  }
}

input::-ms-clear {
  display: none;
}

::-ms-expand {
  display:none;
}

.resize-image {
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.hide {
	display: none;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


ul, ol {
  margin: 0 ;
}


a {
  background-color: transparent;
  text-decoration:none;
}

img{
  max-width:100%;
  }

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
