@font-face {
    font-family: 'opt_txt';
    src: url('../fonts/optimistic-cyrillic/Optimistic_Text_Cyrl_Md.eot');
    src: url('../fonts/optimistic-cyrillic/Optimistic_Text_Cyrl_Md.eot?#iefix') format('embedded-opentype'), url('../fonts/optimistic-cyrillic/Optimistic_Text_Cyrl_W_Md.woff2') format('woff2'), url('../fonts/optimistic-cyrillic/Optimistic_Text_Cyrl_W_Md.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/**Optimistic Text - Cyrillic**/


@font-face {
    font-family: 'opt_display';
    src: url('../fonts/optimistic-cyrillic/Optimistic_Display_Cyrl_Md.eot');
    src: url('../fonts/optimistic-cyrillic/Optimistic_Display_Cyrl_Md.eot?#iefix') format('embedded-opentype'), url('../fonts/optimistic-cyrillic/Optimistic_Display_Cyrl_W_Md.woff2') format('woff2'), url('../fonts/optimistic-cyrillic/Optimistic_Display_Cyrl_W_Md.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/**Optimistic Display - Cyrillic**/


.fontTxt{
    font-family: 'opt_txt';
    font-weight: 400;
}
/**Optimistic Text - Cyrillic**/

.fontDisplay {
    font-family: 'opt_display';
}
/**Optimistic Display - Cyrillic**/

.dirRTL {
    direction: ltr;
    text-align: left;
}