//colors

$black: #000000;
$white: #ffffff;

$grey-light  : #F1F2F7;
$grey-medium : #CAD1D8;
$grey-dark   : #67788A;
$grey-darker : #1f2e36;

$blue-deep   : #005B94;
$blue-core   : #009ED7;
$blue-pale   : #A0D9F7;
$blue-light  : #C8E7FA;

$green-deep  : #005A42;
$green-core  : #007E59;
$green-pale  : #8BB79A;
$green-light : #B2CDB5;

$indigo-deep : #342071;
$indigo-pale : #8E95CA;
$indigo-light: #B5B5DB;

$navy-deep   : #00406B;
$navy-core   : #0F7CB5;
$navy-pale   : #91B6D3;
$navy-light  : #AFD3E8;

$orange-deep : #A03516;
$orange-core : #ED7218;
$orange-pale : #F7B67D;
$orange-light: #FBD6B7;

$purple-deep : #48194E;
$purple-pale : #C0B1C5;
$purple-light: #D4CAE0;

$red-deep    : #790A1D;
$red-core    : #DC3746;
$red-pale    : #E8A793;
$red-light   : #FBE3DF;

$teal-dark   : #235055;
$teal-deep   : #26A49A;
$teal-pale   : #92C8BA;
$teal-light  : #BFE0D6;

$yellow-deep : #E29400;
$yellow-pale : #FFE5A0;
$yellow-light: #FFFADB;

